<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::head(title='Pizza Papi\'s home page')">

</head>

<body th:class="${color}">

<img th:replace="fragments::banner" >

<nav th:replace="fragments::nav"></nav>

<h1> Pizza Luigi </h1>

<h2> Good <span th:text="${partOfTheDay}"></span>, welcome at Pizza Papi's ! </h2>

<h2> Your chef today is </h2>

<dl th:object="${chef}">
    <dt> Name </dt>
    <dd th:text="*{fullName}"></dd>
    <dt> Number of kids </dt>
    <dd th:text="*{nrOfKids}"></dd>
    <dt> Married ?</dt>
    <dd th:text=" *{nrOfKids} ? 'Yes' : 'Nope' "></dd>
    <dt> Address </dt>
    <dd th:object="${chef.address}" th:text=" | *{street} *{nr} *{areaCode} *{town} | " > </dd>
</dl>

<div th:if="${identification.emailAddress} != null">
<p> You are identified with </p>
<p th:text="${identification.emailAddress}"></p>
</div>

<h4> This page was visited <span th:text="${nrOfVisits}"></span> times.</h4>
</body>
</html>