<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Pizza Papi - Search by price ')">
</head>
<body>

<img th:replace="fragments::banner">
<nav th:replace="fragments::nav"></nav>

<h1> Choose by price </h1>

<ul>
    <li th:each="price:${prices}">
        <a th:href="@{ /pizzas/prices/{price} (price = ${price}) }" th:text="| € ${price} |"></a>
    </li>
</ul>

<div th:if="${price} != null">
    <h2> Pizza's costing <span th:text="${price}"></span></h2>
    <ul>
        <li>
            <a th:each="pizza:${pizzasWithPrice}" th:href="@{/pizzas/{id} (id=${pizza.id})}"
               th:text="${pizza.name}"> </a>
        </li>
    </ul>
</div>k

</body>
</html>