<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Pizza papie - Price range form')">
    <meta charset="UTF-8">
</head>

<body>
<img th:replace="fragments::banner"/>
<nav th:replace="fragments::nav"></nav>

<h1> Set a price range </h1>
<form th:object="${priceRangeForm}" method="get" th:action="@{/pizzas/pricerange}">
    <label> Preferred minimum price:
        <span th:errors="*{minPrice}"></span> <input th:field="*{minPrice}" autofocus type="number" required min="0">
    </label>
    <label> Preferred maximum price:
        <span th:errors="*{maxPrice}"></span> <input th:field="*{maxPrice}" type="number" required min="0">
    </label>
    <button> Find Pizzas in this price range </button>
</form>
<script>
    document.getElementsByName("minPrice")[0].oninvalid = function () {
        this.setCustomValidity("Required!")
    }
</script>
<h2> pizzas in this price range are: </h2>
<ul th:if="${pizzasInPricerange} != null">
    <li th:each="pizza:${pizzasInPricerange}" th:object="${pizza}">
        <table>
            <tr>
                <td th:width="100"><span th:text="*{name}"></span> </td>
                <td> &euro;  </td>
                <td> <span th:text="*{price}"></span></td>
            </tr>
        </table>

    </li>
</ul>

</body>
</html>